body{
  font-family: 'Roboto', cursive;
  font-size:24px;
}
input{
  border:none; 
  max-width:100px;
  text-align:center;
  font-family: 'Cookie', cursive;
  font-size:24px;
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% ,  
    var(--gold) 80%);
  border-radius:20px;
   padding:5px 0px;
}
h1{
   background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% ,  
    var(--gold) 80%);
  margin:0;
  padding:10px;
}
button{
  border:none; 
  text-align:center;
  font-family: 'Cookie', cursive;
  font-size:24px;
  color:#000;
  cursor:pointer;
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 50%,
    var(--gold) 80%);
   border-radius:20px;
  padding:5px 20px;
}


* {
  box-sizing: border-box;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
}
body {
  margin: 0;
   background: radial-gradient(#272727, #1b1b1b);
}
.wrapper-2{ 
  padding:10px
}
.wrapper-1 { 
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase; 
   height:100px;
}
.wrapper-1 > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: clamp( 0.5em, 3vw, 2.5rem);
  grid-area: overlap;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px transparent;
 
}
.wrapper { 
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
  height: 70vh;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: clamp( 3em, 18vw, 15rem);
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}